#photo{
    width: 100%;
    position: relative;
}
#video{
    position: absolute;
    transform: translateY(-150%);
    /* margin-left: 18%; */
    

}
#hcontainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,fr);
    grid-gap: 10px;
    width: 20%;

}
#h1container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,fr);
    grid-gap: 10px;

}
#mensnew{
    margin-left: 10%;
}
.img{
    height: 80px;
    width: 30px;
}
#box{
    height: 300px;
    width: 100px;

}

