/* Top Navbar */

#top {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-top: 5px;
   background-color: #faf9f9;
   padding: 10px;
   font-size: small;
   cursor: pointer;
   
}
a #cart{
   text-decoration: none;
   color: black;
   
   
}

#signup{
   display: flex;
   gap: 20px;
   cursor: pointer;
}

#select {
   display: flex;
   justify-content: center;
   gap: 10px;
   
}

.dropbtn {

   color: tomato;
  
   border: none;
   cursor: pointer;
}


.dropdown {
   position: relative;
   display: inline-block;
}


.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}


.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;

}


.dropdown-content a:hover {
   background-color:white;
   transition: all 0.3s ease;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: bold;
}


.dropdown:hover .dropdown-content {
   display: block;
   transition: all 0.3s ease;
   text-transform: capitalize;

}

/* Logo */

#shopbopimg {
   width: 180px;
   height: 50px;
   margin-left: 43%;
   margin-top: 20px;
   cursor: pointer;
}


/* Navbar */

.a img {
   height: 50px;
   margin-top: 9px;
   padding-left: 15px;
   width: 80%;
}

.top_box {
   width: 100%;
   height: 20px;
   display: flex;
   /* border: 2px solid black; */
}

.top_box>div {
   width: 3%;
   height: auto;
   /* border: 2px solid red; */
}

.top_box>div>img {
   width: 70%;
   height: 100%;
   margin-top: 8px;
   border-radius: 100%;
   margin-bottom: 5px;
   padding: 0px 2px 0px 2px;
}

#navbar>#subbox>div>img {
   width: 100%;
   height: 60px;
   object-position: bottom;
}

#subbox {
   width: 20%;
   display: flex;
   margin-left: 10px;
   justify-content: space-between;
   /* border: 2px solid greenyellow; */
}

#subbox>div {
   width: 100%;
   /* border: 2px solid blue; */
}

#subbox>.a>img {
   margin-top: 1px;
   width: 100%;
   height: auto;
}

#navbar {
   margin: auto;
   margin-top: 10px;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   /* border: 2px solid black; */
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   position: relative;

}

i {
   font-size: 30px;
   color: black;
   text-align: auto;
   transition: all 0.3s ease;
}

#icon {
   margin: auto;
   font-family: "poppins";
   font-size: smaller;
   /* background-color: white; */

}

i:hover {
   color: #fc6486;

}



/* <--------BootStrap--------> */

.Container {

   width: 70%;
   margin: auto;

   margin-top: -20px;
   font-style: normal;

}

.header {
   display: block;
   width: 100%;
   position: relative;
   z-index: 120px;
   padding: 25px;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.v-center {
   align-items: center;
}

.header .item-center {
   flex: 0 0 66%;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   /* display: flex;
   justify-content: space-evenly; */
}

.header .menu>ul>li {
   display: inline-flex;
   line-height: 50px;
   margin-left: 5px;
   margin-right: 15px;
}

.header .menu>ul>li>a {
   font-size: small;
   /* font-weight: bold; */
   color: black;
   position: relative;
   font-family: "poppins";
   text-decoration: none;
   text-transform: capitalize;
   transition: color 0.3s ease;
   justify-content: space-evenly;
   display: inline-flex;
   /* text-align: center; */
}

.header .menu>ul>li:hover>a {
   color: black;
   text-decoration: underline;
}

.header .menu>ul>li .sub-menu>.list-item>ul>li {
   line-height: 1;
   display: block;
}

.header .menu>ul>li .sub-menu>.list-item>ul>li>a {
   padding: 5px 0;
   display: inline-block;
   text-decoration: none;
   font-size: smaller;
   color: black;
   transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
   position: absolute;
   z-index: 500;
   transition: all 0.5s ease;
   margin-top: 45px;
   opacity: 0;
   visibility: hidden;
   left: 50%;
   top: 60%;
   width: 100%;
   
   transform: translateX(-50%);

}

.header .menu>ul>li.menu-item:hover .sub-menu {
   margin: 0;
   visibility: visible;
   opacity: 1;
   background-color: white;

}

.header .menu>ul>li .sub-menu>ul>li {
   line-height: 1;
}

.header .menu>ul>li .sub-menu>ul>li>a {
   display: inline-block;
   text-decoration: none;
   padding: 10px 0px;
   font-size: small;
   color: #555555;
   transition: color 0.3s ease;
}

.header .menu>ul>li .single-col {
   min-width: 1100px;
   width: 60%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   gap: 5px;
   padding: 10px 5px;
}

.header .menu>ul>li .single-col>.list-item {
   flex: 0 0 25%;
   padding: 0 15px;
}

.header .menu>ul>li .single-col>.list-item img {
   max-width: 100%;
   width: 100%;
   vertical-align: top;
}

.header .menu>ul>li .single-col>.list-item .title {
   font-size: small;
   font-weight: bold;
   color: black;
   line-height: 1;
   padding: 10px 0;
}

li>a:hover{
   
   color: black;
   transition: all 0.3s ease;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: bold;
   
}




/* <---------media----------> */

@media all and (min-width: 600px) and (max-width: 1200px) {}

@media all and (min-width: 80px) and (max-width: 600px) {}